* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    /* outline: #f00 solid 1px; */
}
:root {
    --orange-verylight: #f5c77e;
    --orange-light: #e88504;
    --orange-strong: #dc6601;
    scrollbar-color: var(--orange-strong) #ddd;
    scrollbar-width: thin;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: var(--orange-strong);
}


.hero {
    height: 100vh;
    width: 100%;
    background-image: url(resources/bg.jpg);
    background-size: cover;
    background-position: center;
}

/* #bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -99999;
} */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8%;
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    color: #fff;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    user-select: none;
}

span {
    color: var(--orange-light);
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: var(--orange-strong);
    transition: .4s;
}

.btn {
    background-color: var(--orange-strong);
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    margin-left: 17.5vw;
}

.btn:hover {
    color: #fff;
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: #fff;
    margin: 20px 0 20px;
    font-size: 75px;
    text-shadow: rgb(46, 46, 46) 5px 5px 15px;
}

h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 50px;
    text-shadow: rgb(46, 46, 46) 5px 5px 15px;
}

h4 {
    color: var(--orange-verylight);
    letter-spacing: 2px;
    font-size: 18px;
    text-shadow: rgb(46, 46, 46) 5px 5px 15px;
}

.about {
    width: 100%;
    padding: 100px 0; 
    background-color: #191919;
}

.about .main img {
    height: auto;
    width: 430px;
    border-radius: 12px;

}

.about-text {
    max-width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 50;
}

.about-text h2{
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: var(--orange-verylight);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: var(--orange-strong);
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid var(--orange-strong);
    cursor: pointer;
}

.service {
    background-color: #101010;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
}

.title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    
}

.title h2 {
    color: #fff;
    font-size: 58px;
    width: 100%;
    margin: 20px auto 60px;
    text-align: center;
}

.box {
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: repeat(5, 173px);
    grid-template-rows: repeat(2, 225px);
    grid-auto-columns: 173px;
    grid-auto-rows: 225px;
    grid-auto-flow: column;
    width: fit-content;
    max-width: 865px;
    margin: 0 auto;
    overflow: hidden;
}

.box .card:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.card {
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #191919;
    transition: 0.5s ease-out;
    overflow: hidden;
    background-color: #191919;
    margin: 10px;
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.card-description-hidden {
    position: relative;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.73) 0%, rgba(0,0,0,0) 36%, rgba(0,0,0,0) 92%); 
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .8rem;
}
.card-description-hidden::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.73) 0%, rgba(0,0,0,0.73) 85%, rgba(0,0,0,0.73) 86%, rgba(255,255,255,0) 100%);
    z-index: -1;
    transition: opacity 0.2s linear;
    transition: background 0.2s linear;
    opacity: 0;
  }

.card-description-hidden p {
    opacity: 0;
    text-align: center;
    color: var(--orange-verylight);
    font-size: 12px;
    line-height: 16px;
    z-index: 100;
    transition: opacity .1s;
}
.card:first-child .card-description-hidden p {
    line-height: 27px;
    font-size: 24px;
}
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-row: 2;
    background: rgba(0, 0, 0, .73); 
    padding: 0 16px;
}
.card:first-child .card-info{
    padding: 0 32px;
}

h5 {
    color: #fff;
    font-size: 13px;
    z-index: 100;
}
h6 {
    color: var(--orange-light);
    font-size: 10px;
    margin: 2px 0 5px; 
    z-index: 100;
}
.card:first-child .card-info h5{
    font-size: 20px;
}
.card:first-child .card-info h6{
    font-size: 12px;
}
.card .button {
    transform: translate(-50%, 125%);
    width: 40%;
    border-radius: 1rem 0 0 0;
    border: none;
    background-color: #ffab10;
    color: #fff;
    font-size: 0.7rem;
    padding: .5rem 0;
    position: absolute;
    left: 80%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    z-index: 100;
}
.card:first-child .button{
    font-size: 0.8rem;
    left: 50%;
    border-radius: 1rem 1rem 0 0;
    padding: .5rem 1rem;
}

.btn-un {
    cursor: not-allowed;
    pointer-events: none;
    background-color: #df2c14 !important;
    z-index: 100;
}
.card-un {
    cursor: not-allowed;
}
.card:hover {
    border-color: #fdf7ec;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.card:hover .card-description-hidden {
    background: rgba(0, 0, 0, 0);
}
.card:hover .card-description-hidden::before{
    opacity: 1;
}
.card:hover .card-description-hidden p{
    opacity: 1;
}
.card:hover .button {
    transform: translate(-50%, 0%);
    opacity: 1;
}
.scroll-button {
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: rgba(29, 29, 31, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: bottom .4s, transform .4s;
}
.scroll-button:hover {
    background-color: rgba(29, 29, 31, 0.7);
    transform: translateY(-.25rem);
}
#scroll-left {
    margin-right: 20%;
    place-self: center end;
}
#scroll-right {
    margin-left: 20%;
    place-self: center start;
}


.bgdiv {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    z-index: -900;
    filter: blur(3px);
    overflow: hidden;
}

#bgcontactme {
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
}

.contact-me {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
}

.contact-me p {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 25px;
    text-shadow: rgb(19, 19, 19) 5px 5px 15px;
}

#credits {
    font-size: 10px;
    text-decoration: none;
    translate: 0 280px;
    color: rgba(60, 60, 60, 0.7);
    transition: color .3s;
}

#credits:hover {
    color: #ddd;
}

.contact-me .button-two {
    background-color: var(--orange-strong);
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    scale: 1.5;
}

.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid var(--orange-strong);
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: #fff;
    font-size: 17px;
    width: auto;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-strong);
    border-radius: 50%;
    margin: 22px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: .3s;
}

.social a:hover {
    transform: scale(1.3);
}

.end {
    position: absolute;
    color: var(--orange-strong);
    bottom: 35px;
    font-size: 14px;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    order: 500;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media screen and (max-width: 1100px) {
    .logo {
        font-size: 30px;
        padding: 5px 0 5px 20px;
    }
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #191919;
        top: 0;
        left: 0;
        text-align: center;
        z-index: -500;
        transition: all .5s;
        transform: translateX(-100%);
    }
    nav ul li {
        display: block;
        margin: 30px 0;
        width: 100%;
        padding: 10px 0;
    }
    nav ul li:first-child {
        margin-top: 120px;
    }
    nav ul li a {
        font-size: 20px;
    }
    .btn {
        display: inline-block;
        left: 0;
        width: 100%;
        border-radius: 0;
        padding: 30px;
        font-size: 1.5rem;
        margin: 0;
    }
    .btn:hover{
        transform: none;
        color: #fff;
    }
    #check:checked ~ ul {
        transform: translateX(0%);
    }
    .about {
        padding: 20px;
    }
    .main {
        margin: 30px 0;
        padding-left: 10px;
        flex-direction: column;
    }
    .about .main img {
        width: 80vw;
        max-width: 400px;
        order: 50;
    }
    .about-text h2 {
        font-size: 60px;
    }
    .title h2{
        width: 100%;
        font-size: 52px;
    }
    .contact-me p {
        font-size: 35px;
        text-align: center;
    }

    .scroll-button {
        display: none;
    }
    .box {
        position: relative;
        justify-self: center;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        scroll-behavior: auto;
        display: grid;
        grid-template-columns: repeat(2, 173px);
        grid-template-rows: repeat(2, 225px);
        grid-auto-columns: 173px;
        grid-auto-rows: 225px;
        grid-auto-flow: row;
        width: fit-content;
        overflow: hidden;
        overflow-y: visible;
        scrollbar-width: thin;
    }

    .box .card:first-child {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .card:first-child .card-description-hidden p {
        font-size: 12px;
        line-height: 16px;
    }
    .card:first-child .card-info{
        padding: 0 16px;
    }
    .card:first-child .card-info h5{
        font-size: 13px;
    }
    .card:first-child .card-info h6{
        font-size: 10px;
    }
    .card:first-child .button{
        font-size: 0.7rem;
        left: 80%;
        border-radius: 1rem 0 0 0;
        padding: .5rem 0;
    }
}
